body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
    position: relative; /* Position relative for absolute positioning of title */
}

.title {
    color: goldenrod; /* Gold/Brown color */
    font-family: 'Pacifico', cursive; /* Cool font */
    font-size: 36px; /* Adjust font size as needed */
    position: absolute; /* Position absolute for top middle */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

